*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
}

body{
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}

.app{
  height: 100vh;
}

@import './components/presets/text-tags';
@import './components/presets/buttons';

@import './components/header';
@import './components/body';
