button{
  font-size: 1.6rem;
  min-width: 10rem;
  min-height: 6rem;
  margin: 1rem;

  border: 2px solid #bdbdbd; //change
  border-radius: 4px;

  color: #a8a8a8;
  background-color: white; //change

  outline:none;
  cursor: pointer;

  transition: background-color .2s ease, transform  .2s ease, color .2s ease, border  .2s ease; //when someone of this animation is activated, it will be by this way.

  &:hover{
    background-color: #a8a8a8; //change
    color: #545454; //change
    border: 2px solid #545454; //change
    transform: scale(1.1);
  }

  &:active{
    transform: scale(1.2);
  }
}

.button-h5{
  font-size: 2.6rem;
  min-width: 20rem;
  min-height: 8rem;
  margin: 1rem;
}

.button-hover-blue{

}
