.header{
  background-color: #074358;
  color: white; //change
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 15%;
}

.header-left{
  padding: 0 3rem 0 3rem;
}

.header-right{
  padding: 3rem;
  flex-shrink: 1;
}
